@{
    ViewData["Title"] = "Home Page";
}

@* <div class="container mt-4"> *@
@*     <h1>Welcome to Our Application</h1> *@
@*     <p>Here are some of the features that make our application stand out:</p> *@
@* </div> *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1>Welcome</h1>
    
    <p>Go to the <a asp-controller="Products" asp-action="Index">Products</a> page.</p>
    
</div>
